* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0f1220;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    background-color: #1a1c2b;
    top: 0;
    z-index: 1000;
}

header .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #00cc66;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: #00cc66;
}

header .btn-login {
    background-color: #00cc66;
    border: none;
    padding: 8px 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

header .btn-login:hover {
    background-color: #33e08a;
}

header .user-balance {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffd700; /* <-- Este es el color amarillo/dorado */
    padding: 5px 15px;
    border: 1px solid #ffd700;
    border-radius: 20px;
}

/* Hero */
.hero {
    text-align: center;
    background: #09c46b;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 32px;
    font-weight: bold;
}

.hero p {
    margin-top: 10px;
    font-size: 16px;
}

.btn {
    margin-top: 20px;
    background: white;
    color: #09c46b;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

/* Cards */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 arriba */
    grid-auto-rows: auto;
    gap: 20px;
    padding: 30px;
}


.card {
    background: #1a1d2f;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-8px); /* se levanta */
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}

.card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.08);
}

.card h2 {
    margin: 15px;
    font-size: 22px;
}

.card p {
    margin: 0 15px 20px;
    opacity: 0.8;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    opacity: 0.6;
    font-size: 14px;
}
